<div class="top-left-split"></div>
<div class="menu-left-split">
    <div class="btn-group d-flex btn-menu-padding">
        @Html.ActionLink("New order", "CreateNewOrder", "Order", null, new { @class = "btn btn-primary btn-lg" })<br />
    </div>
    <div class="btn-group d-flex btn-menu-padding">
        @Html.ActionLink("My orders", "MyOrders", "Order", null, new { @class = "btn btn-primary btn-lg" })<br />
    </div>
    <div class="btn-group d-flex btn-menu-padding">
        @Html.ActionLink("New product", "CreateNewProduct", "Product", null, new { @class = "btn btn-primary btn-lg" })<br />
    </div>
    <div class="btn-group d-flex btn-menu-padding">
        @Html.ActionLink("My products", "MyProducts", "Product", null, new { @class = "btn btn-primary btn-lg" })<br />
    </div>
    <div class="btn-group d-flex btn-menu-padding">
        @Html.ActionLink("Sales", "MySales", "Sales", null, new { @class = "btn btn-primary btn-lg" })<br />
    </div>
</div>
<div class="bottom-left-split"></div>